@model IEnumerable<EMPRESA.Models.Producto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
           
            <ol class="carousel-indicators">
                @{ 
                    foreach (var item in Model)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@{@item.ID} " @if (item==Model.First()) { <text> class="active" </text> }></li>
                    }
                }
            </ol>
            <div class="carousel-inner">
                @{ 
                    foreach (var item in Model)
                    {
                        <div class="carousel-item @if (item==Model.First()) {<text>active</text>}">
                            <img style="min-height:200px;" src="@Html.DisplayFor(modelItem => item.UrlImagen)" class="d-block w-100" alt=" @Html.DisplayFor(modelItem => item.NomProducto)">
                        </div>
                    }
                }
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>



