@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<h5>RESPONSABILIDAD, DATOS, DESTINATARIO Y DERECHOS</h5>
<p>
    Floristeria, de acuerdo con las exigencias legales impuestas por la Ley Orgánica de Protección de Datos y Garantía de los Derechos Digitales (RGPD), se reconoce como responsable de tratamiento de datos personales de nivel básico y no sensible.
</p>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    01. Responsable de los datos
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <address>
                    Floristeria S.L,<br />
                    Barrio Jaitzubia 40, 20280 Hondarribia, Gipuzkoa (España).<br />
                    943 64 17 10<br />
                    info@floristeria.com<br />
                    www.floristeria.com
                </address>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    02. Datos, finalidad y tratamiento
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <p>Floristeria recoge datos de sus clientes desde distintas fuentes de su propiedad, puede ser por correo electrónico, formulario de contacto, pedido online, solicitud de información, ficha de cliente, etc. Todos los datos que recoge Floristeria se incluyen en su base de datos personal.</p>
                <p>Estos datos se usan únicamente con el fin para el que han sido recogidos, emisión de facturas, envió de información, pedidos… El envío de información, ofertas u otras notificaciones de carácter comercial vía correo electrónico, se realizan únicamente si el usuario a aceptado expresamente el envío de dichas notificaciones.</p>

                <p>Todas las personas que trabajan en contacto con los datos personales de nuestros clientes, conocen y respetan la privacidad de dichos datos.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    03. Destinatario de tus datos
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <p>Floristeria no cede tus datos a terceros, en caso de necesitar realizar alguna cesión, se solicitará tu consentimiento previo.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    04. Derechos referidos
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <p>Puedes ejercer el derecho de acceso, rectificación o suspensión de tus datos cuando lo desees, para ejercer cualquier de estos derechos, debes solicitarlo mediante las vías habituales de contacto con Floristeria.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    05. Cookies
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <p>Una cookie es un pequeño fichero que se almacena en tu navegador cada vez que visita una página web, este tipo de archivos llevan utilizándose desde que aparecieron los primeros navegadores web. Los datos que estas recogen son de carácter técnico, personalización de contenidos, estadísticas, enlaces, accesos a cuentas de usuario, preferencias personales, etc. en ningún caso almacenan datos sensibles.</p>
                <p>Su finalidad es que la web pueda recordar tu visita cuando vuelvas a navegar por ella y ofrecerte un contenido adaptado a tu perfil y necesidades.</p>

                <p>La página web de Floristeria usa distintas cookies, técnicas y de análisis, las redes sociales usan sus propias cookies. Si no deseas disponer de cookies durante tu navegación puedes eliminarlas o bloquearlas desde el panel de configuración de tu navegador.</p>
            </div>
        </div>
    </div>
</div>